@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #413543;
    --bg-color: #2D2727;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.conteudo {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
    background-color: var(--primary-color);
    margin: 5%;
    padding: 1rem 0;
    width: 100vh;
    max-height: 65vh;
    border-radius: 0.8rem;
    overflow: auto;
    scrollbar-width: 0.8rem;
    scrollbar-color: #ddd transparent;
    box-shadow: 3px 3px 8px black;
}

.caixa-texto::-webkit-scrollbar {
    width: 0.5rem;
}

.caixa-texto::-webkit-scrollbar-track {
    background: transparent;
}

.caixa-texto::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 0.8rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2.25rem;
    width: 90%;
}

.textarea {
    border-radius: 0.8rem;
    background-color: #ddd;
    padding: .75rem;
    border: solid 2px transparent;
    width: 80%;
    resize: none;
    outline: none;
    line-height: 1.15;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    scrollbar-width: 0.8rem;
    scrollbar-color: var(--bg-color) transparent;
    box-shadow: 3px 3px 8px black;
}

.textarea:hover {
    cursor: pointer;
}

.textarea:focus {
    cursor: text;
    background-color: white;
    border: solid 2px black;
}

.textarea::-webkit-scrollbar {
    width: 0.4rem;
}

.textarea::-webkit-scrollbar-track {
    background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 0.8rem;
}

.button-style {
    background: transparent;
    border: none;
    border-radius: 1.5rem;
    padding: .5rem .75rem;
    color: white;
    font-size: 1.2rem;
    background-color: var(--bg-color);
    box-shadow: 3px 3px 8px black;
    display: flex;
}

.button-style:hover {
    color: crimson;
    cursor: pointer;
}

.lista-itens {
    list-style: none;
    width: 90%;
}

.item-lista {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}

.item-lista textarea {
    margin: 0.4rem 0;
}